body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: gold;
  background-color: red;
  font-size: larger;
  font-weight: bold;
  font-family: cursive, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  background-color: white;
  width: 450px;
  height: 450px;
}

.reset {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-family: 'Times New Roman', Times, serif;
  width: 50%;
  margin-right: 15px;
}

button {
  padding: 15px;
  cursor: pointer;
}
